<a href="https://colab.research.google.com/github/Yupipapuu/Tareas-THC/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def mi_funcion(n)

In [ ]:
def Ordenada(a,b):
  return lambda x:a*x+b

Recta=Ordenada(2,-1)
for i in range(10):
  print("y= "str(Recta(i)))

  y=

In [ ]:
def Ordenada(a,b):
  return lambda x:a*x+b

Recta=Ordenada(2,-1)
for i in range(10):
  print("y= "str(Recta(i)))

  DICCIONARIO

In [5]:
import pandas as pd

#Crear un diccionario con datos
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Iván', 'Alexander', 'Abi'],
    'Edad': [25, 23, 70, 24, 18, 18],
    'Estudia o Trabaja': ['estudia', 'estudia', 'trabaja', 'trabaja', 'estudia', 'estudia'],
    'Estado civil': ['soltero', 'divorciada', 'casado', 'casado', 'soltero', 'viudo']

}
dataframe=pd.DataFrame(datos)
dataframe.to_csv('datos.csv')